.card{
    display: block;
    border: 3px solid blue;
    background-color: grey;
    height: relative;
    border-radius: 20px;
    margin-top: 15px;
}
#time, #date{
    color: blue;
    font-size: 24px;

}
.location{
	text-align: center;
	height: relative;
	display:block;
	border-radius: 20px;
	background-color: pink;
	font-size: 3em;
	margin-top: 2px;
}
.top,.top.row{
	height:relative;
	display: block;
	background-color: #4ea27f;
	font-size: 3em;
	margin-top: 5px;
	text-align: center;
		margin-right: 0px;
    margin-left: 0px;
}
.mid,.mid.row{		
	height:relative;
	display: block;	
	font-size: 1.1em;
	border:2px solid black;
	margin-top: 5px;
	text-align: center;
	margin-right: 0px;
    margin-left: 0px;
}

.bot, .bot.row{
	margin-top: 10px;
	margin-right: 0px;
    margin-left: 0px;
}
#forecastShort{
	text-align: center;
}