#pageBackground{
    background-image: url(img/day.jpg);
}
.card{
    background-color: #D4D7FE;
    border: 3px solid black;
    height: relative;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}
#time, #date{
    color: blue;
}
#locationVan, #locationVic, #locationKel{
    /*background-color: pink;*/
	text-align: center;
	height: relative;
	display:block;
	border-radius: 20px;
	font-size: 3em;
	margin-top: 2px;
}
.top,.top.row{
    /*background-color: #4ea27f;*/
	height:relative;
	border-radius: 20px;
	font-size: 3em;
	margin-top: 5px;
	text-align: center;
	margin-right: 0px;
    margin-left: 0px;
}
.mid,.mid.row{		
	display: block;	
	font-size: 1.4em;
	border-top:3px solid black;
    border-bottom:3px solid black;
	margin-top: 5px;
	text-align: center;
	margin-right: 0px;
    margin-left: 0px;
}
.bot, .bot.row{
    font-size: 1.5em;
	margin-top: 10px;
	margin-right: 0px;
    margin-left: 0px;
}
.forecastShort{
	text-align: center;
	font-size: 1.2em;
}
#header,.date,.time{
	text-align: center;
}
.btn{
	margin-top: 5px;
 
}
#forecastTitleVan,#forecastTitleVic,#forecastTitleKel{
    font-size: 1.2em;
}
#info,#convertC,#convertF,#shortTerm,#longTerm,#addCity,#removeCity{

}